*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    position: relative;
}
/* Navbar */
.nav{
    display: none;
}
/* General */
nav{
    display: flex;
    position: relative;
    background: antiquewhite;
}

/* Left nav */
nav .menu-icon{
    display: none;
}

.drop{
    display: none;
}

nav .left{
    display: flex;
    margin: 1vw 2vw;
}

nav .left .name{
    margin: auto 1vw;
    font-weight: 600;
    font-size: 25px;
}

nav .left .logo img{
    width: 35px;
}

/* Right nav */
nav .right {
    position: absolute;
    right: 0;
    text-align: right;
    margin: 1.5vw 5vw;
}

nav .right ul {
    display: flex;
}

nav .right ul li {
    display: flex;
    margin: auto 15px;
}

nav .right ul li a{
    text-decoration: none;
    color: black;
    font-size: larger;
}


/* Sections */

/* Items class*/
.item {
    width: 500px;
    border: 2px solid black;
    margin: 33px;
    align-self: center;
}
/* Home Section */
section .prop {
    justify-content: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 33vw;
}

.first{
    background: linear-gradient(to right, rgb(233, 119, 119),rgb(141, 101, 101));

}

section .home-left{
    /* position: absolute; */
    /* width: 51%; */
    left: 18vw;
    top: 5vw;
    font-size: 2vw;
    background: aquamarine;
    border-radius: 20px;
}

section .home-left span {
    border-radius: 25px;
    border-bottom-right-radius: 0px;
    padding: 9px;
    background: yellowgreen;
    font-size: 33px;
}

section .intro{

    padding: 17px 21px;
}

section .my_photo{
    width: auto;
    clip-path: circle(45%);
}

section .my_photo img{
    width: 133px;
}
h1{
    font-size: 36px;
}

section #about{
    /* background: linear-gradient(to right, yellowgreen, antiquewhite); */
    background: linear-gradient(45deg, rgb(141, 101, 101), transparent);
    /* clip-path: polygon(0 0,0% 100% ,0% 100%,0 100%, 50% 100% ,100% 100%,100% 0, 25% 27%); */

}
.content{
    background: linear-gradient(to right, rgb(233, 119, 119),rgb(141, 101, 101));
    
}









/* Footer */

footer .copy{
    text-align: center;
    font-size: 2vw;
}


/* Hamburger nav */
@media screen and (max-width: 800px) {
    nav .right ul{
        display: none;
    }
    
    nav .menu-icon{
        display: block;
        position: absolute;
        right: 10px;
    }
    nav .menu-icon img{
        width: 30px;
    }
    
    nav .menu-icon .cross{
        display: none;
    }
    .drop{
        display: none;
        text-align: center;
        background: antiquewhite;
    }
    .drop ul li{
        padding: 12px 0px;
        list-style: none;
    }
    
    .drop ul li a{
        font-size: 45px;
        text-decoration: none;
        color: black;
    }
    .dropped{
        display: block;
        position: relative;
    }

    section .prop{
        height: auto;
    }

    section .home-left{
        font-size: 20px;
    }
    
}




